CODE_DIR=../

PHP70_MODE=fpm
PHP71_MODE=fpm
PHP80_MODE=fpm

MYSQL_VERSION=5.7
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=default
MYSQL_USER=dev
MYSQL_PASSWORD=dev

REDIS_VERSION=5-alpine
REDIS_PASSWORD=
