SHARE_DIR=../../share

MYSQL_VERSION=5.7
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=default
MYSQL_USER=dev
MYSQL_PASSWORD=dev
MYSQL_DATA_DIR=${SHARE_DIR}/mysql/data
MYSQL_LOG_DIR=${SHARE_DIR}/mysql/logs

REDIS_VERSION=5-alpine
REDIS_PASSWORD=
REDIS_DATA_DIR=${SHARE_DIR}/redis/data

NGINX_HTML_DIR=${SHARE_DIR}/nginx/html
NGINX_LOG_DIR=${SHARE_DIR}/nginx/logs
NGINX_CONF_DIR=${SHARE_DIR}/nginx/conf